
body {
	font-family: "Times New Roman", Times, serif;
	font-size: 18px;
	margin-top: 5%;
	margin-bottom: 10%;
	margin-right: 18%;
	margin-left: 10%;
	background-color: #A7F7EE;
}

h1, h2, h3, h4 {
	color: black;
	font-weight: bold;
}

.page_link {
	color: darkblue;
}

.title {
	font-weight: bold;
	font-size: 38px;
}

.my_name {
	color: black;
	font-size: 52px;
}



