

head {
	background-color: lightblue;
}

body {
	font-family: Helvetica;
	font-size: 18px;
	margin-top: 5%;
	margin-bottom: 10%;
	margin-right: 15%;
	margin-left: 10%;
}

.page_link {
	color: blue;
}

.title {
	font-weight: bold;
	font-size: 38px;
}

.my_name {
	color: blue;
	font-size: 52px;
}



